
<ul>
     <% data.forEach((item) =>  { %>
    <a href="<%=item.objectNumber%>">
        <li>
            <img src="<%=item.webImage.url%>" alt="">
                <h3><%=item.title%></h3>
        </li>
    </a>
     <% }) %>

</ul>